<!DOCTYPE html>
<html lang="en">

<%- include('../../util/template/head.ejs',{title:'ex01'})%>

<body>
  <div class="hint">
    <div class="hint__icon"></div>
    <div class="hint__text">TAP ON THE SCREEN.</div>
  </div>
</body>

</html>